PAYSTACK_SECRET_KEY=sk_live_...
NEXT_PUBLIC_PUSHER_KEY=...
NEXT_PUBLIC_PUSHER_CLUSTER=mt1
PUSHER_APP_ID=...
PUSHER_SECRET=...
DATABASE_URL=postgresql://user:password@localhost:5432/godsofthestage
REDIS_URL=redis://localhost:6379
