PAYSTACK_SECRET_KEY=sk_live_...
NEXT_PUBLIC_PUSHER_KEY=...
NEXT_PUBLIC_PUSHER_CLUSTER=mt1
PUSHER_APP_ID=...
PUSHER_SECRET=...
DATABASE_URL=postgresql://user:password@localhost:5432/godsofthestage
UPSTASH_REDIS_REST_URL=https://YOUR_ENDPOINT.upstash.io
UPSTASH_REDIS_REST_TOKEN=YOUR_TOKEN
